@tailwind base;
  @tailwind components;
  @tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 333 40% 0%;
    --foreground: 333 40% 100%;
    --muted: 303 39% 11%;
    --muted-foreground: 303 7% 62%;
    --popover: 333 40% 0%;
    --popover-foreground: 333 40% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 333 12% 10%;
    --input: 333 12% 10%;
    --primary: 333 79% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 303 79% 52%;
    --secondary-foreground: 0 0% 100%;
    --accent: 3 79% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 19 85% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 333 79% 52%;
  }
}



@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }